.Nav-Bar {
    
    margin-top: 20px;
    
}

.me-auto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Nav-Item {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1.2rem;
}

.Nav-Item:hover {
    text-decoration: underline;
}


.link {
    color: black;
    text-decoration: none;
}

.link:active {
    background-color: black;
}