.NavBar-ul {

  min-height: 10vh;
  width: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  list-style: none;
 

}

.NavBar-li {
    margin: 30px;
      
}

.NavBar-NavLink {
  text-decoration: none;
  text-transform: uppercase;
  color: grey;
  font-size: 1rem;
}

.NavBar-NavLink:hover {
  text-decoration-line: underline;
  color: black;
}
